<%- include('../partials/header') %>

<div class="search-results-container">
    <div class="page-header-simple">
        <div class="header-icon-circle">
            <i class="ti-search"></i>
        </div>
        <div class="header-text-meta">
            <span>SEARCH</span>
            <h1>Search Results</h1>
            <p>Showing tracks matching "<%= query %>"</p>
        </div>
    </div>

    <div class="profile-content">
        <div class="songs-list-container">
            <% if (songs && songs.length > 0) { %>
                <div class="songs-table">
                    <div class="songs-table-header">
                        <div class="col-index">#</div>
                        <div class="col-title">Title</div>
                        <div class="col-genre">Genre</div>
                        <div class="col-plays"><i class="ti-headphone"></i></div>
                        <div class="col-actions"></div>
                    </div>
                    
                    <% songs.forEach(function(song, index) { %>
                        <div class="song-row" data-id="<%= song._id %>">
                            <div class="col-index">
                                <span class="row-num"><%= index + 1 %></span>
                                <button class="row-play-btn" onclick="playSong('<%= song._id %>')" title="Play">
                                    <i class="ti-control-play"></i>
                                </button>
                            </div>
                            <div class="col-title">
                                <img src="<%= song.imageUrl?.url || 'https://res.cloudinary.com/dqynaodv1/image/upload/v1717904033/resources/images/default-thumbnail.png' %>" alt="<%= song.title %>" class="song-row-img">
                                <div class="song-row-info">
                                    <div class="song-row-title"><%= song.title %></div>
                                    <a href="/profile/<%= song.uploadedBy._id %>" class="song-row-artist"><%= song.artist %></a>
                                </div>
                            </div>
                            <div class="col-genre"><%= song.genre || 'Unknown' %></div>
                            <div class="col-plays"><%= song.playCount || 0 %></div>
                            <div class="col-actions">
                                <% if (userID) { %>
                                    <button class="action-icon-btn like-btn <%= song.liked ? 'liked' : '' %>" onclick="toggleLike('<%= song._id %>', this)" title="Like">
                                        <i class="ti-heart"></i>
                                    </button>
                                    <button class="action-icon-btn opt-btn" onclick="showAddToPlaylistMenu(event, '<%= song._id %>')" title="Add to Playlist">
                                        <i class="ti-more-alt"></i>
                                    </button>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } else { %>
                <div class="empty-search">
                    <i class="ti-search"></i>
                    <p>No songs found matching "<%= query %>". Try searching for something else!</p>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
